asgiref==3.3.1
Django==3.1.4
django-cors-headers==3.5.0
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
Markdown==3.3.3
mysql-connector-python==8.0.22
mysqlclient @ file:///C:/Users/gallup/Desktop/mysqlclient-1.4.6-cp39-cp39-win_amd64.whl
Pillow==8.0.1
protobuf==3.14.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
PyJWT==1.7.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
